/*全局樣式表*/
html,body,#app{
    margin: 0;
    padding: 0;
}
.mint-swipe{
    margin-top: 40px;
    height: 200px;
}
.mint-swipe img{
    width: 100%;
    height: 100%;
}
h1,h2{
    text-align: center;
}
.mint-popup{
    width: 100%;
}
.qty{
    text-align: center;
}
